// body{
//     height: 300vh;
// }
.header{
    background: #161617cc;
    width: 100%;
    position: fixed;
    top: 0;
    height: 5.01vh;
    display: flex;
    align-items: center;
    .header-menu-list{
        // display: none;
        margin-inline: auto;
        text-decoration: none;
        // color: aliceblue;
        // display: flex;
        padding-block: 10px;
        align-items: center;
        justify-content: space-between;
        // margin-inline: 260px;
        // text in links
        a{
            p{
                font-size: 12px;
                color: #aaaaaa;
            }
            .index-menu-elems{
                &:hover{
                    color: aliceblue;
                }
            }
            .iphone-page-menu-elems{
                &:hover{
                    color: rgb(0, 0, 0);
                }
            }
        }
        #shopingSearch{
            img{
                margin-top: 5px;
            }
        }
    }
    .header-menu-hidden{
        // display: flex;
        // display: none;
        width: 100%;
        justify-content: space-between;
        margin-inline: auto;
        text-decoration: none;
        // color: aliceblue;
        padding-block: 10px;
        align-items: center;
        margin-inline: 1rem;
        li{
            ul{
                display: flex;
                align-items: center;
                .shoppingSearch{
                    margin-top: 5px;
                }
                li{
                margin-left: 1rem;
                &:nth-child(3){
                    margin-bottom: 5px;
                }
                // animation: loading 1s linear 1;
                }
            }
        }
    }
}
@keyframes loading {
    0% {
        opacity: 0;;
    }
    100% {
        opacity: 1;
    }
}

.hidden-menu-block{
    position: fixed;
    // top: 0;
    top: -100%;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfbfd;
    ul{
        #menuCloser{
            cursor: pointer;
            display: flex;
            justify-content: end;
            font-size: 40px;
            margin-right: 1rem;
            position: relative;
            bottom: 30px;
        }
        padding-top: 50px;
        li{
            opacity: 0;
            &::after {
                content: '>';
                opacity: 0;
                display: flex;
                color: #333336;
                // color: #fbfbfd;
                font-size: 28px;
                font-weight: 600;
                position: relative;
                margin-left: -4.5rem;
                transition: opacity .2s ease-in-out;

    
            }
            padding-top: 3px;
            padding-bottom: 4px;
            height: 47px;
            // width: 90px;
            margin-bottom: -7px;
            display: flex;
            align-items: center;
            animation-delay: 1.5s;

            &:hover{
                &::after{
                    transition: opacity ease-in-out;
                    opacity: 1;
                    // color: #333336;
                }
            }
            a{
                color: #333336;
                margin-inline: 1rem;
                font-size: 28px;
                font-weight: 600;
                width: 10px;
                text-wrap: nowrap;
                padding-right: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
